@use "variables" as v;

.promo-banner {
  background: #f5ece7;
  padding: 30px;
  border-radius: 12px;

  h2 {
    font-family: v.$fuente-titulos;
    font-size: 2rem;
  }
}

.page-title {
  font-family: v.$fuente-titulos;
  font-size: 2.4rem;
}

.page-subtitle {
  font-size: 1rem;
  opacity: .8;
}

.product-card img {
  border-radius: 8px;
}

.product-card h5 {
  font-family: v.$fuente-titulos;
}

.btn-main {
  @include v.boton-estilo;
}
